{% extends "flights/layout.html" %}
{% block styles %}
    <style>
        /* Styles for the flights */
        ul {
            list-style: none;
            padding: 0;
        }
        
        li {
            margin-bottom: 10px;
        }
        
        #flight-view {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            color: #333;
            padding: 10px;
            border-radius: 5px;
            background-color: #f0f0f0;
            transition: background-color 0.3s;
        }
        
        #flight-view:hover {
            background-color: #ccc;
        }
	
        #view-details {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 align="center">Flights</h1>

    <ul>
        {% for flight in flights %}
            <li>
                <div id="flight-view">
                    Flight {{ flight.id }}: {{ flight.origin }} to {{ flight.destination }}
                    <a id="view-details" href="{% url 'flight' flight.id %}">View Details</a>
                </div>
            </li>
        {% empty %}
            <li align="center">There are currently no flights available.</li>
	    <br><hr>
            <a href="admin/">Add one from the Admin panel</a>
        {% endfor %}
    </ul>
{% endblock %}
